/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
body{
     display:flex;
     justify-content: center;
     align-items:center;
}


.clock{
     width:30%;
     height:200px;
     background: black;
     border-radius: 10%;

     color:white;
     font-size: 40px;
     font-weight:bold;

     display:flex;
     justify-content: space-evenly;
     align-items:center;
}


     




























